.brand {
  background: url("../images/logo.png") no-repeat 10px 5px;
  background-size: 120px;
  border-bottom: 2px solid #000;
  display: block;
  margin-bottom: 0;
  text-indent: -999em;
}
.home-link {
  display: block;
}
