.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.section__home-search {
  padding: 0 20px;
}
.hero__headline {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.2;
  max-width: 500px;
}

@media only screen and (min-width: 768px) {
  .main {
    background: url("../images/sample.jpeg") no-repeat right center;
    background-size: 600px;
  }
}
