.tags {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tags .tags__item {
  display: inline;
  color: #bbb;
  font-size: 0.85rem;
}
.tags .tags__item::after {
  content: ", ";
}
.tags .tags__item:last-child::after {
  content: "";
}
