.loader {
  display: block;
  height: 12px;
  text-indent: -999em;
  width: 20px;
  background: url("../images/loader_small.gif") no-repeat;
}

.loader.medium {
  height: 50px;
  width: 50px;
  background: url("../images/loader_medium.gif") no-repeat;
}
