.search {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.search-block {
  background: #f0f0f0;
  padding: 10px;
}
.title__four {
  font-size: 1rem;
  font-weight: 300;
  margin: 10px 0 7px 0;
}
.search .loader.medium {
  margin: 20px auto;
}

.search .btn {
  display: none;
}

.search input[type="text"] {
  box-sizing: border-box;
  width: 100%;
}
