.fork-list {
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #aaa;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  width: 100%;
}
.fork-list__item {
  border-radius: 5px;
  display: inline-block;
  font-size: 0.85rem;
  padding: 10px;
  position: relative;
  max-width: 120px;
  margin-right: 10px;
  text-align: center;
}
.fork-list__item:hover {
  color: #000;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.virtual-link {
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  text-indent: -9999em;
}
.title_four {
  margin: 15px 0 0 0;
  font-weight: 300;
  line-height: 0.75;
}
