input[type="text"] {
  border: 2px solid #ccc;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  min-width: 180px;
  padding: 12px;
  transition: border-color 0.2s linear;
}
input[type="text"]:focus {
  border: 2px solid #5d5d5d;
  outline: none;
}
.btn {
  background-color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 10px;
  min-width: 100px;
  outline: none;
  padding: 15px;
  transition: all 0.2s linear;
}
.btn:disabled,
.btn[disabled] {
  border: 2px solid #5d5d5d;
  background-color: #5d5d5d;
  color: #ccc;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}
.btn:disabled:hover,
.btn[disabled]:hover {
  background-color: #5d5d5d;
  color: #ccc;
}

.search-info {
  margin: 15px 0;
  padding: 0 10px;
}
.search-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
.search-list__item {
  border-bottom: 1px solid #e1e4e8;
  padding: 15px;
}

@media only screen and (min-width: 768px) {
  input[type="text"] {
    min-width: 240px;
  }
  .btn {
    width: 110px;
  }
}
